body {
    background-color: #fbefcc;
}

nav {
    background-color: #e0876a;
}

#myPic {
    width: 200px;
    height: 200px;
}

footer {
    margin-top: 2rem;
    color: white;
}

footer p {
    width: 100%;
}