body {
    background-color: #f9ccac;
}

nav.navbar {
    background-color: #e0876a;
}

.card {
    background-color: #fbefcc;
}

.card .btn {
    background-color: #e0876a;
    border: none;
}

.text-dark-on-light {
    color: #674d3c;
}

a.text-dark-on-light:hover {
    color: #e0876a;
}

i {
    font-size: 2rem; 
    color: #e0876a;
}

footer {
    margin-top: 2rem;
    color: white;
}

footer p {
    width: 100%;
}

footer a.text-dark-on-light:hover {
    color: #fbefcc;
}