body {
    background-color: #f9ccac;
}

nav {
    background-color: #e0876a;
}

.card {
    background-color: #fbefcc;
}

footer {
    margin-top: 2rem;
    color: white;
}

footer p {
    width: 100%;
}